<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Become Cicerone</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/go-cicerone/" method="POST">
        <div class="loginModal">
          <label for="tel">Phone Number</label>
          <input type="text" name="tel" class="form-control" id="tel" placeholder="Enter phone number">
        </div>
        <div class="loginModal">
          <label for="fCode">Fiscal code</label>
          <input type="text" name="fcode" class="form-control" id="fcode" placeholder="Fiscal Code">
        </div>
        <div class="loginModal">
          <label for="iban">IBAN</label>
          <input type="text" name="iban" class="form-control" id="iban" placeholder="IBAN">
        </div>
        <div class="modal-footer">
          <input type="submit" value="Go CIcerone!" class="btn btn-outline-primary" />
        </div>
      </form>
    </div>
    
  </div>
</div>