{{template "_navbar.html" .}}
<head>
  <style> body { margin: 0; } </style>

  <script src="//unpkg.com/d3-dsv"></script>
  <script src="//unpkg.com/dat.gui"></script>
  <script src="//unpkg.com/d3-octree"></script>
  <script src="//unpkg.com/d3-force-3d"></script>

  <script src="//unpkg.com/3d-force-graph"></script>

  <script src="//unpkg.com/three"></script>
  <!-- <script src="//unpkg.com/three-spritetext"></script> -->
  <!--<script src="../../dist/3d-force-graph.js"></script>-->

  <style>
    .node-label {
      font-size: 12px;
      padding: 1px 4px;
      border-radius: 4px;
      background-color: rgba(0,0,0,0.5);
      user-select: auto;
    }
  </style>
</head>

<div>
  <div id="graph"></div>

  <script type="importmap">{ "imports": { "three": "https://unpkg.com/three/build/three.module.js" }}</script>
  <script type="module">
     import { CSS2DRenderer, CSS2DObject } from '//unpkg.com/three/examples/jsm/renderers/CSS2DRenderer.js';

    // controls
    const controls = { 'DAG Orientation': 'td'};
    const gui = new dat.GUI();
    gui.add(controls, 'DAG Orientation', ['td', 'bu', 'lr', 'rl', 'zout', 'zin', 'radialout', 'radialin', null])
      .onChange(orientation => graph && graph.dagMode(orientation));

    // graph config
    const NODE_REL_SIZE = 5;
    //const Y_POSITION_CONSTANT = 1;
    const graph = ForceGraph3D({
      extraRenderers: [new CSS2DRenderer()]
    })
      .dagMode(null)
      .dagLevelDistance(100)
      .backgroundColor('#101020')
      .linkColor(() => 'rgba(255,255,255,0.5)')
      .nodeRelSize(NODE_REL_SIZE)
      // .nodeId('id')
      // .nodeVal('value')
      // .nodeLabel('name')
      // .nodeAutoColorBy('last_name')
      .nodeOpacity(0.9)
      .linkDirectionalParticles(2)
      .linkDirectionalParticleColor(() => 'rgba(255,255,255,1)')
      .linkDirectionalParticleWidth(2)
      .linkDirectionalParticleSpeed(0.002)
      //.d3Force('collision', d3.forceCollide(node => Math.cbrt(node.size) * NODE_REL_SIZE - 2))
      // .d3VelocityDecay(0.1)
      .linkWidth(2);

    // Decrease repel intensity
    // graph.d3Force('charge').strength(-15);

    // graph.d3Force('link')
    //   .distance(link => 0.9)
    //   .strength(link => 0.5);


    function getData(persons) {
      const nodes = [];
      const links = [];

      // Crea un oggetto per ogni persona e lo aggiunge all'array nodes
      persons.forEach((person) => {
        const node = {
          id: person.uuid,
          name: person.first_name + " " + person.last_name,
          last_name: person.last_name,
        };

        nodes.push(node);
      });

      // Aggiunge i collegamenti ai genitori all'array links
      persons.forEach((person) => {
        if (person.parent1) {
          links.push({
            source: person.parent1,
            target: person.uuid
          });
        }
        if (person.parent2) {
          links.push({
            source: person.parent2,
            target: person.uuid
          });
        }
      });

      return {
        nodes: nodes,
        links: links
      };
    }

    graph(document.getElementById('graph'))
          .graphData(getData({{.Persons}}))
          .nodeAutoColorBy('last_name')
          .nodeThreeObject(node => {
            const nodeEl = document.createElement('div');
            nodeEl.textContent = node.name;
            nodeEl.style.color = node.color;
            nodeEl.className = 'node-label';
            return new CSS2DObject(nodeEl);
          })
          .nodeThreeObjectExtend(true)
          .onNodeClick(node => document.location.href = "/manageperson?uuid=" + node.id);
  </script>
</div>
{{template "_footer.html" .}}