{{template "_navbar.html" .}}

<div class="d-flex flwx-wrap row mx-3 my-3 justify-content-around align-itemborder">
  {{ if eq (len .Events) 0 }}
    <div class="px-2 py-2 justify-content-center">
      <div class="card">
        <div class="card-header">
           Oh ho!
        </div>
        <div class="card-body">
          <h5 class="card-title">Oh ho, there are still no events...</h5>
          {{if .Utente.IsCicerone}}
            <p class="card-text">There are no events actually, let's create the first one with the following button</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewEventModal">Add Event</button>
          {{else}}
            <p class="card-text">There are no events actually.<br>Become a Cicerone to create the first one.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ciceroneModal">Become Cicerone</button>
          {{end}}
        </div>
      </div>

    </div>  
  </div>
  {{else}}
   {{range $key, $value := .Events}}
    <div class="px-2 py-2">
      <div class="card" style="width: 18rem;">
        <img src="https://w.wallhaven.cc/full/49/wallhaven-49r1w1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <!--{{$value.Titolo}}-->
          <h5 class="card-title">{{$value.Titolo}}</h5>
          <p class="card-text">{{$value.Descrizione}}</p>
          <a href="/event/{{$value.IdEvento}}/" class="btn btn-primary">Open event</a>
        </div>
      </div>  
    </div>
   {{end}}
   </div>
   {{ if .Utente.IsCicerone}}
    <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewEventModal">Add Event</button>
      <form action="/delete/" method="POST">
        <input type="hidden" name="id" value="all"/>
        <input type="submit" value="Delete every event"class="btn btn-primary" >
      </form>
    </div>
   {{end}}
  {{end}}








{{template "_footer.html" .}}

<!-- Modal Cicerone -->
<div class="modal fade" id="ciceroneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {{template "_bcicerone.html" .}}
</div>

<!-- New Event Modal-->
<div class="modal fade" id="NewEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {{template "_nevent.html" .}}
</div>
