{{template "_navbar.html" .}}
<div class="container center-block mt-3">
  <div class="row">
    <div class="card col-lg">
    	<div class="card-header bg-transparent" >
        {{if not .Person.Node.UUID}}
	      <h1 class="card-title">Add a new person</h1>
	      {{else}}
	      <h1 class="card-title">Edit {{.Person.FirstName}} {{.Person.LastName}}</h1>
	      {{end}}
	    </div>
    	<div class="card-body" >
	      <form id="addpersonform" action="/manageperson" method="POST">
	      	<input type="hidden" id="uuid" name="uuid" value="{{.Person.Node.UUID}}" class="form-control">
	      	<div class="row g-2">
	      		<div class="col-md">
	    		    <div class="form-floating">
	    		    	<label for="first_name">First Name:</label>
	    		  		<input type="text" id="first_name" name="first_name" value="{{.Person.FirstName}}" class="form-control" required>
	    		  	</div>
	    		  </div>
	    		  <div class="col-md">
	  		      <div class="form-floating">
	  		        <label for="last_name">Last Name:</label>
	  		  			<input type="text" id="last_name" name="last_name" value="{{.Person.LastName}}" class="form-control" required>
	    				</div>
	  		    </div>
	    		</div>
	    		<br>
	    		<div class="row g-2">
	      		<div class="col-md">
	    		    <div class="form-floating">
	    		    	<label for="birth_date">Birth Date:</label>
	        			<input type="date" id="birth_date" name="birth_date" class="form-control" required>
	        			<script type="text/javascript">
	        				setValue("birth_date", timestampToDate({{.Person.BirthDate}}))
	        			</script>
	    		  	</div>
	    		  </div>
	    		  <div class="col-md">
	    		  	<div class="col-md form-check">
	    		  	  <input class="form-check-input" type="checkbox" value="" id="passedCheckbox" onChange="showMe('passedCheckbox', 'death_date_div')" />
	    		  	  <label class="form-check-label" for="passedCheckbox">Passed</label>
	    		  	</div>
	  		      <div id="death_date_div" class="form-floating">
				        <label for="death_date">Obit:</label>
				        <input type="date" id="death_date" name="death_date" class="form-control">
				        <script type="text/javascript">
	        				setValue("death_date", timestampToDate({{.Person.DeathDate}})
	        			</script>
	    				</div>
	  		    </div>
	    		</div>
	    		<br>
	    		<div class="row g-2">
	      		<div class="col-md">
	    		    <div class="form-floating">
	    		    	<label for="parent1">Parent 1:</label>
	    		    	{{ if gt (len .Persons) 0 }}
	    	        <div class="dropdown">
	    	          <select id = "parent1">
	    	            {{range $key, $value := .Persons}}
	    	             <option value="{{$value.Node.UUID}}">{{$value.FirstName}} {{$value.LastName}}</option>
	    	            {{end}}
	    	          </select>          
	    	        </div>
	    	        {{end}}
	    		  	</div>
	    		  </div>
	    		  <div class="col-md">
	  		      <div class="form-floating">
	  		      	<label for="parent2">Parent 2:</label>
				        {{ if gt (len .Persons) 0 }}
	    	        <div class="dropdown">
	    	          <select id = "parent2">
	    	            {{range $key, $value := .Persons}}
	    	             <option value = "{{$value.Node.UUID}}">{{$value.FirstName}} {{$value.LastName}}</option>
	    	            {{end}}
	    	          </select>           
	    	        </div>
	    	        {{end}}
	    				</div>
	  		    </div>
	    		</div>

	        <div class="form-group">
		        <label for="bio">Bio:</label>
		        <textarea id="bio" name="bio" class="form-control" rows="5">{{.Person.Bio}}</textarea><br><br>
	        </div>
        	<div class="card-footer bg-transparent" >
            <input type="submit" value="Save" class="btn btn-primary"/>
    	    </div>
	        
	      </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	function populateSelect() {
		$("#parent1").val("{{.Person.Parent1}}");
		$("#parent2").val("{{.Person.Parent2}}");
	};

	function showMe(trigger, target) {
    var chboxs = document.getElementById(trigger).style.display;
    var vis = "none";
        if(chboxs=="none"){
         vis = "block"; }
        if(chboxs=="block"){
         vis = "none"; }
    document.getElementById(target).style.display = vis;
	};

	$(document).ready(function() {
		populateSelect();
	});
</script>
{{template "_footer.html" .}}