{{template "_navbar.html" .}}
<div class="container center-block mt-3">
  <div class="row">
    <div class="card col-lg shadow">
      <div class="card-header bg-transparent">
        <h1 class="card-title">Persons</h1>
      </div>
      <div class="card-body table-responsive">
        <table id="peopleTable" class="display table table-striped table-bordered dt-responsive nowrap">
          <thead>
            <tr>
              <th>UUID</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Birthday</th>
              <th>Death date</th>
              <th>Parent1</th>
              <th>Parent2</th>
            </tr>
          </thead>
          <tbody>
            {{range $index, $person := .Persons}}
            <tr onclick="">
              <td class="uuid">{{$person.UUID}}</td>
              <td>{{$person.FirstName}}</td>
              <td>{{$person.LastName}}</td>
              <td>
                {{if $person.BirthDate}}
                <span id="{{$index}}_birth_date" />
                <script type="text/javascript">
                  setInnerText("{{$index}}_birth_date", timestampToDate({{ $person.BirthDate }}))
                </script>
                {{else}}
                <span id="{{$index}}_birth_date">-</span>
                {{end}}
              </td>
              <td>
                {{if $person.DeathDate}}
                <span id="{{$index}}_death_date" />
                <script type="text/javascript">
                  setInnerText("{{$index}}_death_date", timestampToDate({{ $person.DeathDate }}))
                </script>
                {{else}}
                <span id="{{$index}}_death_date">-</span>
                {{end}}
              </td>
              <td class="uuid">
                <a href="/manageperson?uuid={{$person.Parent1}}">{{$person.Parent1}}</a>
              </td>
              <td class="uuid">
                <a href="/manageperson?uuid={{$person.Parent2}}">{{$person.Parent2}}</a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-transparent">
        <button class="btn btn-secondary" onclick="window.history.back()">Back</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#peopleTable').DataTable();

    var table = $('#peopleTable').DataTable();
 
    $('#peopleTable tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        location.href = "/manageperson?uuid=" + data[0];
    });
  });
</script>
{{template "_footer.html" .}}